@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');
@font-face {
    font-family: 'FontLogo';
    src: url(../_fonts/p5hatty.ttf);
}

body {
    background-image: url('projeto/background.jpg');
    background-color: #dddddd;

}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;  /*top left down right */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

header#header1 img#icon {
    position: absolute;
    right: 620px;
    top: 65px;
}

header#header1 {
    border-bottom: 1px #606060 solid;
}

header#header1 h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 30pt;
    color: #D92323;
    text-shadow: 1px 2px 1px #732424;
    padding: 0px;
    margin-bottom: 0px;
}

header#header1 h2 {
    font-family: 'FontLogo', sans-serif;
    color: #8C6723;
    font-size: 20pt;
    padding: 0px;
    margin-top: 0px;
}

/* Images Format */

figure.leg-pho {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.leg-pho img {
    width: 100%;
    height: 100%;
}

figure.leg-pho figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
    text-align: center;
}

figure.leg-pho:hover figcaption {
    opacity: 1;

}

/* Menu Format */

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 750px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
}

section#bodi {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid black;
    padding-right: 15px;
}

table#tabspec {
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabspec td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tablespec td.cl {
    color: white;
    background-color: #606060;
    
}

table#tablespec td.cr {

}

section#bodi p {
    font-size: 17px;
}

aside#lat {
    display: block;
    width: 350px;
    float: right; 
}

footer#foti {
    clear: both;
    border-top: 1px solid black;
}

footer#foti p {
    text-align: center;
}